<script>
import { format } from 'date-fns'
import { es } from 'date-fns/locale'

const today = format(new Date(), 'EEEE dd/MM/yyyy', { locale: es })
const todayFormated = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0]

$: date = todayFormated
$: loadingAraucano = false
$: loadingElAlba = false
$: visibleAraucano = false
$: visibleElAlba = false

export let resultsAraucano = []
export let resultsElAlba = []

function findAllByKey(obj, keyToFind) {
	return Object.entries(obj)
		.reduce((acc, [key, value]) => (key === keyToFind)
			? acc.concat(value)
			: (typeof value === 'object')
			? acc.concat(findAllByKey(value, keyToFind))
			: acc
		, [])
}

function relateResultsWithTimes (results, times) {
	var r = {},
	i,
	keys = results,
	values = times

	for (i = 0; i < keys.length; i++) {
		r[keys[i]] = values[i];
	}
	return r
}

function getKeyByValue(object, value) {
	return Object.keys(object).filter(key => object[key] !== value)
}

function getData (date) {
	loadingAraucano = true
	resultsAraucano = []
	fetch(`https://saltala.apisaltala.com/api/v1/schedule/public/appointments?scheduleUnitId=28&date=${date}&onlyPublic=true&appointmentStatuses[]=1&appointmentStatuses[]=3&appointmentStatuses[]=8&groupHours=true`)
		.then(response => response.json())
	    .then(data => {
			if (data.success && data.data.appointments) {
				resultsAraucano = getKeyByValue(relateResultsWithTimes(data.data.appointments,findAllByKey(data, 'available')), 0)
				loadingAraucano = false
				visibleAraucano = true
			} else {
				loadingAraucano = false
				visibleAraucano = false
			}
		})

	loadingElAlba = true
	resultsElAlba = []
	fetch(`https://www.easycancha.com/api/sports/1/clubs/59/timeslots?date=${date}&time=08:00:00&timespan=60`)
		.then(response => response.json())
		.then(data => {
			if (data.error === false && data.alternative_timeslots !== null) {
				let availableSlots = []
				data.alternative_timeslots.forEach(function (element, index) {
					let courtSlots = []
					for (let key in element.timeslots) {
						courtSlots.push({
							name: element.timeslots[key].courtText,
							price: element.timeslots[key].priceInfo.amount_formatted
						})
					}
					availableSlots.push({
						id: index,
						time: element.hour,
						courts: courtSlots
					})
				})
				resultsElAlba = availableSlots
				loadingElAlba = false
				visibleElAlba = true
			}
		})
}
</script>

<main class="content">
	<header class="header">
		<h1 class="title">Get Canchas 2 Play</h1>
		<p class="today">Hoy: <i>{ today }</i></p>
	</header>
	<section class="commands">
		<input type="date" bind:value={ date } min={ todayFormated } />
		<button on:click={ getData(date) }>Buscar 🎾</button>
	</section>
	<section class="results">
		<div class="half">
			<h2 class="title">
				Araucano <a href="http://reservadehoras.lascondes.cl/#/agenda/28/agendar" target="_blank">ir</a> {#if loadingAraucano}<small>cargando...</small>{/if}
			</h2>
			{#if visibleAraucano }
			{#each resultsAraucano as resultAraucano}
			<div class="result separator">
				<h3 class="title">{ resultAraucano.split('T')[1].slice(0, -9) }</h3>
			</div>
			{/each}
			{/if}
		</div>
		<div class="half">
			<h2 class="title">
				El Alba <a href="https://www.easycancha.com/book/clubs/59/sports" target="_blank">ir</a> {#if loadingElAlba}<small>cargando...</small>{/if}
			</h2>
			{#if visibleElAlba }
			{#each resultsElAlba as resultElAlba}
			<div class="result separator">
				<h3 class="title">{ resultElAlba.time.slice(0, -3) }</h3>
				<ul class="courts">
					{#each resultElAlba.courts as court}
					<li>{ court.name } ({ court.price }) {#if court.name.includes(' 3') || court.name.includes(' 12')}<b>🚨</b>{/if}</li>
					{/each}
				</ul>
			</div>
			{/each}
			{/if}
		</div>
	</section>
</main>

<style type="text/scss">
.content {
	width: 80%;
	min-height: 80vmin;
	margin: 2% auto;
	padding-bottom: 30px;
	border: 2px solid #fff;
	border-radius: 50px;
	background: linear-gradient(145deg, #ccc, #f3f3f3);
	box-shadow:
		33px 33px 66px #c1c1c1,
		-33px -33px 66px #fff;
	text-align: center;
}

.title {
	font-style: italic;
}

.header {
	.today {
		font-size: 1.2em;
	}
}

.results {
	display: flex;
	flex-direction: row;
	height: 100%;

	.half {
		flex: 1;
		text-align: left;
		padding: 0 1em;
	}
}

.result {
	display: flex;
	flex-direction: row;
	margin-bottom: .5em;

	&.separator:not(:last-child) {
		padding-bottom: .5em;
		border-bottom: 1px solid #fff;
	}

	.title,
	.courts {
		margin: 0;
	}
}
</style>
